.contacts{
    /* margin-bottom: 150px;  */
    height: 400px;
}

.contacts h2{
    padding-top: -5px;
    
}
.contacts h2:before{

    margin-bottom: 12px; 
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/Vector@2.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.contacts__wrapper{
    display: block;
    width: 473px;
    height: 300px;
    letter-spacing: -0.9px;
    font-size: 60px;
    font-weight: 400;
}
.number__contact{
    margin-bottom: 30px;
    display: block;
    cursor: pointer;
    color: #121212;
    

}
.number__contact:hover{
    color: #9b9b9b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}
.mail__contact{
    color: #121212;
  

    
}
.mail__contact:hover{
    color: #9b9b9b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}
