.footer{
    position: relative;
    margin: 0 auto;
    background-color: #121212;
    color: #ffffff;
    height: 229px;
}


.footer-link{
    
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    line-height: 24.59px;
    
    
}
.footer-links-list{
    margin-top: 30px;
    position: absolute;
    display: flex;
    height: 25px;
    padding-left: 345px;

}

 .footer-link-about{
    margin-right: 53px;
}

.footer-link-projects{
    margin-right:56px;
}
.footer-link-services{
    margin-right:55px;
}

.footer-link{
    color: #ffffff;
}
.footer-link:hover{
    color: #9b9b9b;
} 


.footer-text{
    margin-left: 384px;
    position: absolute;
    text-align: center;
    margin-top: 172px;
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 27px;

} 