.header{
    height: 25px;
}
.header-wrapper{
    width: 1151px;
    height: 25px;
}

.header_logo{
    display: inline-block;
    padding-top: 32px;
    width: 126px;
    height: 21px;
    cursor: pointer;
}

.header-links{
    padding-top: 33px;
    display: inline-block;
    padding-left: 559px;
    line-height: 25px;
    float: right;
    
    
}
.header-link-one{
    padding-right: 62px;
}
.header-link-two{
    padding-right: 62px;
    
}

.header-link-three{
    padding-right: 58px;
}
 .header-link-four{
    letter-spacing: 1px;
} 

.header_link{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.5px;

}

.header-link{
    color: #121212;
}
.header-link:hover{
    color: #9b9b9b;
    text-decoration: underline;
     text-underline-offset:8px;
}
