
.introduction__title{
    margin-top: -47px; 
    margin-bottom: 30px;
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
}
.introduction__img{

    position: relative;
    background-image: url(../images/Rectangle.png);
    height: 500px;
    min-width: 1150px;
    background-repeat: no-repeat;
}

.introduction__img-text{
    position: absolute;
    top: 378px;
    left: 40px;
    width: 460px;
    height: 81px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: -0.6px;
}
