.project__img{
    width: 1150px;
    height: 450px;
    margin-bottom: 188px;
}

.link{
    font-weight: 400;
    font-size: 20px;
}

.project__title{
    font-weight: 400;
    margin-top: 13px;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 40.98px;
    letter-spacing: -0.9px;
    
}

.project__btn{
   margin-bottom: 150px;
    display: block;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.6px;
    line-height: 153px;
    border: 1px solid #AD1818;
    color: #AD1818;
    border-radius: 5px;
    cursor: pointer;
}

.project__btn:hover{
    color: #ffffff;
    background-color:#ad1818;
}


