.project-img{
    width: 1150px;
    height: 450px;
    margin-bottom: 188px;
}

.link{
    font-weight: 400;
    font-size: 20px;
}

.project-title{
    font-weight: 400;
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 15px;
    
}

.btn-project{
   margin-bottom: 150px;
    display: block;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    text-align: center;
    line-height: 153px;
    border: 1px solid #AD1818;
    color: #AD1818;
    border-radius: 5px;
}

.btn-project:hover{
    color: #ffffff;
    background-color:#ad1818;
}


